In [77]:
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt
from sklearn import metrics

In [78]:
data = pd.read_csv('data/googleplaystore_user_reviews.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64295 entries, 0 to 64294
Data columns (total 5 columns):
App                       64295 non-null object
Translated_Review         37427 non-null object
Sentiment                 37432 non-null object
Sentiment_Polarity        37432 non-null float64
Sentiment_Subjectivity    37432 non-null float64
dtypes: float64(2), object(3)
memory usage: 2.5+ MB

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
2,10 Best Foods for You,NaN,NaN,NaN,NaN
3,10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000
4,10 Best Foods for You,Best idea us,Positive,1.00,0.300000

In [80]:
data = data.dropna(subset=['Sentiment'])
data = data.reset_index(drop=True)

In [81]:
def sentimentTrans(sent):
    if sent == "Positive":
        return 1
    elif sent == "Neutral":
        return 0
    elif sent == "Negative":
        return -1
    return sent
data["Sentiment"] = data["Sentiment"].map(sentimentTrans).astype(int)

In [83]:
appRat = data.loc[data['App'] == "Twitter"]
appRat.info()
from difflib import SequenceMatcher
def similar(a, b):
    return SequenceMatcher(None, a, b).ratio()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 5 columns):
App                       0 non-null object
Translated_Review         0 non-null object
Sentiment                 0 non-null int32
Sentiment_Polarity        0 non-null float64
Sentiment_Subjectivity    0 non-null float64
dtypes: float64(2), int32(1), object(2)
memory usage: 0.0+ bytes